* {
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (min-width:500px) {
    body {
        display: inline-grid;
        /*display: flex;*/
        margin:10px;
        text-align: center;
        grid-template-rows: 1fr 1fr 15% 20% 20% 20% 1fr;
        height: 100vh;
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    .alert-info {
        /*display: flex;*/
        background-color: lightcyan;
        grid-row: 1/2;
    }

    .alert-info,
    h1,
    .nav-links,
    .main,
    .sub-section,
    footer {
        text-align: center;
        /*display: flex;*/
    }

    .alert-info,
    h1,
    .nav-links,
    .main,
    .sub-section,
    ul li {
        justify-content: center;
        align-items: center;

    }

    h1 {
        grid-row: 2/3;
    }

    .nav-links {
        padding: 0;
        grid-row: 3/4;
        margin: auto;

    }

    ul {
        padding: 0;

    }
    ul li {

        list-style: none;
        text-align: center;
        border: 10px solid white;
    }
    .header-img {
        grid-row: 4/5;
        margin: auto;
    }

    .main {
        text-align: left;
        grid-row: 5/6;
}

    .sub-section {
        grid-row: 6/7;
        text-align: left;
    }

    footer {
        display: flex;
        grid-row: 7/8;
    }

}

