* {
    box-sizing: border-box;
    font-family: sans-serif;
}
    body {
        display: inline-grid;
        /*display: flex;*/
        margin:10px;
        text-align: center;
        /*grid-template-rows: 1fr 1fr 15% 20% 20% 20% 1fr;*/
        height: 100vh;
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    .alert-info {
        /*display: flex;*/
        background-color: lightcyan;
        grid-row: 1/2;
        padding: 1em;
        border: 1px solid black;
    }

    .alert-info,
    h1,
    .nav-links,
    .main,
    .sub-section,
    footer {
        text-align: center;
        /*display: flex;*/
    }

    .alert-info,
    h1,
    .nav-links,
    .main,
    .sub-section,
    ul li {
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    h1 {
        grid-row: 2/3;
        font-size: 4em;
        padding: 0;
    }

    .nav-links {
        padding: 0;
        grid-row: 3/4;
        margin: auto;

    }

    ul {
        padding: 0;

    }
    ul li {
        background-color: lightgray;
        list-style: none;
        text-align: center;
        border: 10px solid white;
    }
    .header-img {
        grid-row: 4/5;
        margin: auto;
    }

    .main {
        text-align: left;
        grid-row: 5/6;
}

    .sub-section {
        grid-row: 6/7;
        text-align: left;
    }

    footer {
        display: flex;
        grid-row: 7/8;
    }
    .placeholder {
        width: 100vw;
    }
@media screen and (min-width:500px) {

    .alert-info {
        visibility: hidden;
        /*z-index: -1;*/
    }

    h1, ul {
        display: grid;
        justify-content: space-between;
        grid-row: 1/2;
        align-items: center;
    }
    h1 {
        grid-column: 1/2;
        /*z-index: 1;*/
    }
    ul.nav-links {
        grid-column: 2/3;
    }
    .placeholder {
        grid-area: 4/1/5/3;
    }
}


